<html>

<head>
</head>

<body>
    <form action="/" method=post>
	    <input type="text" name="name" placeholder="name" />
    </form>
    <% if (name) { %>
    hello <%- name %>
    <% } %>
</body>

</html>
