<html>

<head>
</head>

<body>
    <form action="/" method=post>
	    <input type="text" name="name" placeholder="name" />
    </form>
    <% if (name) { %>
    hello <%- name %>
    <% } %>
    flag{this_is_the_flag} that's secret !
</body>

</html>
