<html>

<head>
</head>

<body>
    <form action="/rename" method=post>
        <p> change name:</p>
	    <input type="text" name="name" placeholder="name" />
        <input type="hidden" name="token" value=<%- token %> />
    </form>
    <% if (name) { %>
    hello <%- name %>
    <% } %>
</body>

</html>
